$primaryColor : #edf1f6;

#form {
    margin-top: 10px;
    max-width: 100%;
}
.saveField {
    max-width: 100%;
    font-family: "Papyrus", "Bradley Hand", "cursive", serif;
    color: $primaryColor;
    font-weight: bold;

}

.container {
    display: flex;
    flex-direction: row;
}

.saveButton {
    color: $primaryColor;
    background-color: #192e4a;;
    border-radius: 3px;
    margin-left: 3px;
    width: 100%;
    font-family: "Papyrus", "Bradley Hand", "cursive", serif;
    font-weight: bold;
    padding: 5px;
}

.saveButton:hover {
    background-color: rgba(24, 8, 75, 0.5);
    cursor: pointer;
}